:root {
    /*
    Colors listed here will not show on Millennium theme settings,
    but used in some parts of the steam app and webkit.
    */
    --black-ish: #2a3f5a00;
    --realblack: #101010;
    --lightblack: #121212;
    --bedarkgrey: #161616;
    --darkblue: #527aad;
    --blue: #70a5eb;
    --brightblue: #76a2d6;
    --blu: #75aaf0;
    --blue-ish: #7cbef8;
    --blue-er: #a4d7f5;
    --lightblue: #81b2eb;
    --darkgreen: #579e79;
    --green: #78dba9;
    --gold: #ffcc6a;
    --bronze: #695833;
    --purple: #6624e2;
    --pink: #c68aee;
    --red: #e05f65;
    --orange: #ff6600;
    --yellow: #f1cf8a;
}